restaurantClient/Connected Services/CustomerServiceReference/customerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CustomerService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CustomerService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustId" type="xs:int" />
      <xs:element minOccurs="0" name="CustName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustPhoneNumber" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
</xs:schema>