restaurantClient/Connected Services/CustomerServiceReference/customerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="customerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/customerService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/customerService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/customerService?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/customerService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CustomerService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="customerInterface_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="customerInterface_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="customerInterface_AddCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="customerInterface_AddCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="customerInterface_GetCustByPhn_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustByPhn" />
  </wsdl:message>
  <wsdl:message name="customerInterface_GetCustByPhn_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustByPhnResponse" />
  </wsdl:message>
  <wsdl:portType name="customerInterface">
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/customerInterface/GetCustomers" message="tns:customerInterface_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/customerInterface/GetCustomersResponse" message="tns:customerInterface_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/customerInterface/AddCustomer" message="tns:customerInterface_AddCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/customerInterface/AddCustomerResponse" message="tns:customerInterface_AddCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustByPhn">
      <wsdl:input wsaw:Action="http://tempuri.org/customerInterface/GetCustByPhn" message="tns:customerInterface_GetCustByPhn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/customerInterface/GetCustByPhnResponse" message="tns:customerInterface_GetCustByPhn_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_customerInterface" type="tns:customerInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/customerInterface/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction="http://tempuri.org/customerInterface/AddCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustByPhn">
      <soap:operation soapAction="http://tempuri.org/customerInterface/GetCustByPhn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="customerService">
    <wsdl:port name="BasicHttpBinding_customerInterface" binding="tns:BasicHttpBinding_customerInterface">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/customerService/customerService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>